{% extends 'base.html' %}
{% block content %}
<html lang="en">
<head>
   <meta charset="utf-8"/>
   <title>{{ title }}</title>
   <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
   <link rel="stylesheet" href="\static\css\style5.css">
</head>

<body>
<div class="jumbotron">
   <h2>Relatórios</h2>
   <br>
   <form method="POST" action="{{ url_for('totalInsidenteRpa') }}">
       <div class="jumbotron">
           <br>
               <div class="input-group">
                   <h3>Selecione o ano que deseja consultar:&nbsp</h3>
                   <span class="input-group-addon"></span>
                       <select name="comp_select_ano" class="selectpicker form-control">
                           <option value=""></option>
                           <option value="2012">2012</option>
                           <option value="2013">2013</option>
                           <option value="2014">2014</option>
                           <option value="2015">2015</option>
                           <option value="2016">2016</option>
                           <option value="2017">2017</option>
                           <option value="2018">2018</option>
                      </select>
               </div>
           <br>
           <div class="input-group">
                   <h3>Selecione o região:&nbsp</h3>
                   <span class="input-group-addon"></span>
                       <select name="comp_select_regiao" class="selectpicker form-control">
                           <option value=''></option>
                           <option value=1>Centro</option>
                           <option value=2>Norte</option>
                           <option value=3>Noroeste</option>
                           <option value=4>Nordeste</option>
                           <option value=5>Sudoeste</option>
                           <option value=6>Sul</option>
                      </select>
               </div>
           <br>
           <div class="input-group">
                   <h3>Selecione o tipo de risco:&nbsp</h3>
                   <span class="input-group-addon"></span>
                       <select name="comp_select_tipo_risco" class="selectpicker form-control">
                           <option value=''></option>
                           <option value='Não informado'>Não informado</option>
                           <option value='R1 Baixo'>R1 Baixo</option>
                           <option value='R2 Medio'>R2 Medio</option>
                           <option value='R3 Alto'>R3 Alto</option>
                           <option value='R4 Muito Alto'>R4 Muito Alto</option>
                      </select>
               </div>
           <br>
           <button type="submit" class="btn btn-lg btn-primary btn-block">Buscar</button>
       </div>
   </form>
   <!--<form action="{{ url_for('totalInsidenteRpa') }}" method="post" class="ins-entrada">-->
   <div id="lista">
           {% if lista%}
               <table>
                   <tr>
                       <th>RPA:</th>
                       <td>{{lista[0][0][0]}}</td>
                   </tr>
                   <tr>
                       <th>CHAMADOS COM VISTORIA:</th>
                       <td>{{lista[3]}}</td>
                   </tr>
                   <tr>
                       <th>VÍTIMAS:</th>
                       <td>{{lista[1]}}</td>
                   </tr>
                   <tr>
                       <th>VÍTIMAS FATAIS:</th>
                       <td>{{lista[2]}}</td>
                   </tr>
               </table>
           {%endif%}
    </div>
   <!--</form>-->
</div>
{% endblock %}
