{% extends 'base.html' %}
{% block content %}
<html lang="en">
<head>
   <meta charset="utf-8"/>
   <title>{{ title }}</title>
   <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
   <link rel="stylesheet" href="\static\css\style5.css">
</head>

<body>
<div class="jumbotron">
   <h2><center>Selecione os campos obrigatórios a seguir:</center></h2>
   <br>
   <font face="Courier New" size="8">
       <form  method="POST" action="{{ url_for('totalInsidenteRpa') }}">
       <div class="jumbotron">
           <br>
               <div class="input-group">
                   <h3>Selecione o ano que deseja consultar:* &nbsp</h3>
                   <span class="input-group-addon"></span>
                       <select name="comp_select_ano" class="selectpicker form-control">
                           <option value=""></option>
                           <option value="2012">2012</option>
                           <option value="2013">2013</option>
                           <option value="2014">2014</option>
                           <option value="2015">2015</option>
                           <option value="2016">2016</option>
                           <option value="2017">2017</option>
                           <option value="2018">2018</option>
                      </select>
               </div>
           <div class="input-group">
                   <h3>Selecione o região:* &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</h3>
                   <span class="input-group-addon"></span>
                       <select name="comp_select_regiao" class="selectpicker form-control">
                           <option value=''></option>
                           <option value=1>Centro</option>
                           <option value=2>Norte</option>
                           <option value=3>Noroeste</option>
                           <option value=4>Nordeste</option>
                           <option value=5>Sudoeste</option>
                           <option value=6>Sul</option>
                      </select>
               </div>
           <br>
           <button type="submit" class="btn btn-lg btn-primary btn-block"><h3>Buscar</h3></button>
       </div>
   </form>
   </font>
    <h1><center>Relatório de Negligências com Vítimas:</center> </h1>
   <!--<form action="{{ url_for('totalInsidenteRpa') }}" method="post" class="ins-entrada">-->
   <div id="lista" class="jumbotron">
           {% if lista %}
               <font face="Courier New" size="7">
                   <table>
                   <tr>
                       <th><h3>RPA: </h3></th>
                       <td><h4> {{lista[0][0][0]}} </h4></td>
                   </tr>
                   <br>
                   <tr>
                       <th><h3>CHAMADOS: </h3></th>
                       <td><h4> {{lista[3]}} </h4></td>
                   </tr>
                   <tr>
                       <th><h3>VISTORIAS: </h3></th>
                       <td><h4> {{lista[1]}} </h4></td>
                   </tr>
                   <tr>
                       <th><h3>VÍTIMAS: </h3></th>
                       <td><h4> {{lista[1]}} </h4></td>
                   </tr>
                   <tr>
                       <th><h3>VÍTIMAS FATAIS: </h3></th>
                       <td><h4> {{lista[2]}} </h4></td>
                   </tr>
               </table>
               </font>
           {% endif %}
    </div>
   <!--</form>-->
</div>
{% endblock %}
